<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Define dependency-->
    <bean id="myFortuneService"
          class="com.example.hello.HappyFortuneService">
    </bean>

    <!-- For DI using constructor injection-->
    <bean id="myCoach"
        class="com.example.hello.TrackCoach">

        <!-- Set up constructor for injection-->
        <constructor-arg ref="myFortuneService"/>

    </bean>
    <!-- END For DI using constructor injection-->



    <!-- For DI using setter injection-->
    <bean id="otherCoach"
      class="com.example.hello.CricketCoach">

    <!-- Set up constructor for injection-->
    <property name="fService" ref="myFortuneService"/>
    </bean>
    <!-- END For DI using setter injection-->

</beans>

